In [36]:
#exercice 1: Ecrire une fonction qui retourne la factorielle d'un nombre entier N.

def factorielle(N):
    fact = 1
    for i in range(1, N+1):
        fact = fact * i
    print(fact)
    
factorielle(5)

120

In [39]:
# exercice n2 Ecrire  une  fonction  qui  reçoit  un  paramètre  N  et  qui  nous  retourne  la  liste  des  nombres impair
 
def impaire(P):
    i = 0
    while i <= P:
        if i % 2 == 1:
            print(i)
        i = i + 1
impaire(11)

1
3
5
7
9
11

In [62]:
#exercice n3 Définir la liste : liste =[17, 38, 10, 25, 72], puis effectuez les actions suivantes : 
liste = [17, 38,10, 25, 72]
liste

[17, 38, 10, 25, 72]

In [63]:
#1. triez et affichez la liste 
liste.sort()
liste

[10, 17, 25, 38, 72]

In [64]:
#ajoutez l’élément 12 à la liste et affichez la liste ; 
liste.append(12) 
liste

[10, 17, 25, 38, 72, 12]

In [65]:
# #renversez et affichez la liste ;
liste.reverse()
liste

[12, 72, 38, 25, 17, 10]

In [66]:
# #affichez le nombre d’éléments  de la liste ; 
len(liste)

6

In [67]:
# #supprimez l’élément 38 et affichez la liste ;
liste.remove(38)
liste

[12, 72, 25, 17, 10]

In [69]:
# #affichez la sous-liste du 2e au 3e élément ; 
liste[1:3]

[72, 25]

In [70]:
# #affichez la sous-liste du début au 2e élément ;  
liste[:3]

[12, 72, 25]

In [72]:
#affichez la sous-liste du 3e élément à la fin de la liste ; 
liste[2:]

[25, 17, 10]

In [57]:
#Ecrire3 une fonction qui supprime les doublons d’une liste. 

#Exemple : la fonction reçoit [1, 1, 2, 4, 9, 2, 5, 4] et retourne [1, 2, 4, 9, 5].

liste1 = [1, 1, 2, 4, 9, 2, 5, 4]
def listToSet(list):
    return set(list)

listToSet(liste1)

{1, 2, 4, 5, 9}